.footer{
  width: 100vw;
  height: 270px;
  background-color: var(--footer);
  height: auto;

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  /* height: 100%; */
}
.footerTop {
  display: flex;
 justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.footerTop > div:first-child{
  flex: 3;
}
.footerTop > div:last-child{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerTop  a{
  text-decoration: underline;
  color: var(--secondary);
}
.footerTop  h2{
  padding: 10px;
}
.footerTop  p{
  line-height: 20px;
  font-size: 16px;
  padding: 10px;
}

.iconContainer {
  display: flex;
}
.iconContainer > img {
  width: 24px;
  height: 24px;
  margin: 10px;
}

.footerBottom {
  text-align: center;
}
.hr{
  width: 85vw;
  margin: 0 auto;
}
.footerBottom span {
  font-size: 14px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.9;
}


@media screen and (max-width:600px) {
  .footerTop{
    flex-direction: column-reverse;
  }
  
}