.header {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 10px 7vw;
  align-items: center;
  background-color: #ffffff;
  box-shadow: -4px 13px 26px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 13px 26px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 13px 26px -4px rgba(0, 0, 0, 0.75);
  z-index: 999;
  position: relative;
}
.header > div {
  flex: 1;
}
.header > div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > div:nth-child(2) a {
  font-weight: bold;
  border-bottom: 2px solid var(--secondary);
}
.select {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  padding: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  width: 120px;
}
.header select {
  height: 25px;
  text-align: center;
  font-weight: 500;
  background-color: inherit;
  color: white;
  outline: none;
  border: none;
  /* width: 140px; */
  font-size: 16px;
  width: 80px;
}
.header select option {
  padding: 5px;
  margin: 5px !important;
}
.header > div:last-child a {
  color: var(--primary);
  margin-right: 15px;
}

.logo a img {
  width: 200px;
  height: auto;
  object-fit: cover;
}
.mobileMenu{
  display: none;
}
.mobileMenu > span{
  color: var(--primary);
  margin: 10px;

}
.mobileMenu > div {
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  width: 200px;
  right: 20px;
  top: 80px;
  background-color: #ffffff;
}
.mobileMenu a{
  margin-bottom: 10px;
}
@media screen and (max-width: 750px) {
  .header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    padding:10 20px;
  }
  .button {
    width: 80px;
    font-size: 16px;
  }
  .header > div:nth-child(2) {
    display: none;
  }
  .mobileMenu{
    display: flex;
  }
  
}
