.form {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.75);
}
.form > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form > div > div {
  width: 800px;
  text-align: center;
}
.form > div h2 {
  text-align: center;
  border-bottom: 2px solid var(--secondary);
  padding: 20px;
}
.inputGroup {
  display: flex;
  width: 100%;
  align-items: center;
}

.inputGroup > div {
  flex: 1;
}
.button {
  margin-top: 15px;
  height: 35px;
  width: 150px;
  border-radius: 15px;
  background-color: var(--primary);
  border: none;
  outline: none;
  color: white;
}
.submit {
  margin-top: 15px;
  height: 45px;
  width: 250px;
  border-radius: 15px;
  background-color: var(--primary);
  border: none;
  outline: none;
  color: white;
}
.fileInput input{
  display: none;

}
.fileInput label div{
  height: 40px;
  border-radius: 20px;
  padding: 5px 20px;
  background-color: var(--secondary);
  color: #ffffff;
  width: 300px;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoLinks{
  width: 100%;
  margin: 20px 0;
}
.videoLink{
  max-width: 800px;
  display: flex;
  width: 100%;
  background-color: aliceblue;
  padding: 5px 20px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 10px;
}
.videoLink p{
  max-width: 500px;
  overflow: hidden;
}
.videoLink span{
  padding: 5px;
  color: red;
  cursor: pointer;
}