.header{
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 12px 0px rgba(94,177,237,0.75);
-webkit-box-shadow: 0px 2px 12px 0px rgba(94,177,237,0.75);
-moz-box-shadow: 0px 2px 12px 0px rgba(94,177,237,0.75);
justify-content: space-between;
padding: 0 50px;
align-items: center;
}
.header > div:last-child{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--secondary);
    color: white;
}

.header > div:last-child > span:last-child{
    margin: 5px;
}
.header a{

    color: var(--secondary);
}