 .top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
 .center{
    width: 100%;
    background-color: #FFFFFF;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
}
.infoBox {
  width: 230px;
  height: 120px;
  border-radius: 15px;
  padding: 20px;
  background-color: #ffffff;
  margin: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 7px 0px rgba(91,193,255,0.75);
-webkit-box-shadow: 0px 0px 7px 0px rgba(91,193,255,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(91,193,255,0.75);
}
.infoBox > span{
    height: 60px;
    width: 60px;
    background: #a6b3f1;
    color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.infoBox > div {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.infoBox > div p{
    font-size: 14px;
    color: #B9B9B9;
    font-weight: 500;
}
