
.inputContainer{
    margin: 8px;
    display: flex;
    flex-direction: column;
}
.inputLabel{
    font-size: 18px;
    color: white;
    margin: 10px;

}
.input {
  height: 45px;
  border-radius: 20px;
  padding: 5px 15px;
  min-width: 200px;
  background-color: #EAF0FF;
  outline: 2px var(--footer);
  border: none;
}
.input:focus{
  outline: 2px solid var(--footer);
}