.hero {
  height: 600px;
  background: url("/images/port.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 2vw 7vw;
}
.hero > div {
  flex: 1;
  display: flex;
  color: white;
}
.left {
  flex-direction: column;
  justify-content: center;
}
.left > h1 {
  word-wrap: break-word;
  display: flex;
  text-align: left;
}
.left p {
  font-size: 16px;
  letter-spacing: 0.6px;
  margin: 20px;
}
.left img {
  margin: 20px;
  width: 400px;
}
.right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.right h2 {
  font-size: 26px;
  text-shadow: 2px black;
}
.email {
  height: 45px;
  width: 400px;
  border-radius: 20px;
  overflow: hidden;
  margin: 30px;
}
.email input {
  flex-grow: 1;
  height: 100%;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  border: none;
}
.email button {
  width: 120px;
  height: 100%;
  border: none;
  outline: none;
  background-color: #001943;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

.signIn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
}
.signIn h1 {
  color: var(--primary);
  margin: 20px;
  font-size: 50px;
}
.signIn h2 {
  font-size: 38px;
}
.signIn p {
  font-size: 16px;
  letter-spacing: 0.5px;
  max-width: 500px;
  word-wrap: break-word;
  text-align: center;
  margin: 20px 10px;
}
.signIn img {
  max-width: 500px;
}
.signIn button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary);
  color: white;
  border-radius: 12px;
  border: none;
  outline: none;
  margin: 20px 10px;
  width: 200px;
  transition: all 0.4s;
}
.signIn button:hover {
  background-color: var(--footer);
}

.testimonials {
  background: url("/images/rectangle3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 100px 50px;
  padding-top: 350px;
  position: relative;
}
.testimonials p {
  position: absolute;
  font-size: 18px;
  color: white;
  left: 200px;
  top: 160px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
}
.testimonials p strong {
  color: var(--primary);
}
.imagesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.imagesContainer > div {
  display: flex;
  justify-content: space-evenly;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 3vw 1vw;
}
.imgContainer img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.4s;
}
.imgContainer img:hover {
  transform: scale(1.2);
}
.imagesContainer > div:first-child > .imgContainer:nth-child(2),
.imagesContainer > div:first-child > .imgContainer:nth-child(3) {
  transform: translateY(-100px);
}

.img1 {
  position: absolute;
  left: 100px;
  top: 280px;
  width: 160px;
}
.img2 {
  position: absolute;
  right: 100px;
  width: 160px;
  bottom: 50px;
}

.requirement {
  padding: 3vw;
}
.requirement h3 {
  font-size: 24px;
  text-align: center;
  padding: 2vw 10px;
}
.requirement h3 span {
  color: var(--primary);
}
.requirement .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.requirement .top img {
  max-width: 500px;
}
.requirement .top p {
  font-size: 16px;
  padding: 1vw 10px;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 25px;
}

.formContainer {
  max-width: 1400px;
  display: flex;
  background: url("/images/form_bg.png");
  background-repeat: no-repeat;
  background-size: calc(70%);
  margin: 0 auto;
  overflow: hidden;
}
.formContainer .left {
  flex: 3;
  border-radius: 30px;
  width: 70%;
  background: url("/images/low_opacity.png");
  background-repeat: no-repeat;
  background-size: 85%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-weight: 500;
  overflow: hidden;
  justify-content: space-around;
}
.formContainer .left p {
  font-size: 16px;
}
.formContainer .left > div {
  display: flex;
  flex-direction: column;
}
.formContainer .left span {
  margin-bottom: 15px;
}
.formContainer .right {
  flex: 2;
  background: var(--primary);
  border-radius: 30px;
  padding: 30px;
  width: 40%;
}
.formContainer .right > * {
  width: 100%;
}
.formContainer .right p {
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: 500;
}
.inputsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inputsContainer > div {
  flex: 1;
}

.checkbox {
  color: white;
  margin: 20px;
}
.checkbox input {
  margin: 10px;
}
.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton button {
  padding: 10px 20px;
  border-radius: 15px;
  outline: none;
  border: none;
  font-size: 22px;
  margin: 10px auto;
  font-weight: 500;
}

.success {
  height: 100vh;
  padding: 2vw 5vw;
  background-color: #001943;
}
.success h1 {
  font-size: 38px;
  color: white;
}
.success > img {
  max-width: 600px;
}
.slider {
  margin: 2vw auto;
}

.successTestimonials {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.successTestimonials > div {
  width: 300px !important;
  height: 220px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background: var(--primary);
  justify-content: space-between;
}
.successTestimonials > div p {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

.successTestimonials > div .user {
  padding: 10px;
  display: flex;
  background: var(--bg);
  color: var(--footer);
  font-weight: 500;
  align-items: center;
}
.successTestimonials > div .user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
}

.contact {
  padding: 5vw;
}
.contactBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  max-width: 1200px;
  padding: max(2vw, 20px);

  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(83, 127, 255, 0.5);
  border-radius: 50px;
  margin: 0 auto;
}
.contactBox img {
  max-width: 500px;
  margin: 20px 0;
}
.contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contacts > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts > div h4 {
  color: var(--primary);
}
.contacts > div span {
  color: #0f3ab6;
  margin: 15px 0;
}

.line {
  height: 200px;
  width: 4px;
  margin: 20px 0;
  background: var(--primary);
  border-radius: 2px;
}

@media screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .img1,
  .img2 {
    width: 100px;
  }
  .img1 {
    left: 30px;
  }
  .img2 {
    right: 30px;
  }
  .imgContainer img {
    width: 120px;
    height: 180px;
  }
}

@media screen and (max-width: 750px) {
  .hero img {
    max-width: 200px;
  }
  .signIn img {
    max-width: 300px;
  }
  .formContainer {
    flex-direction: column;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    border-radius: 30px;
  }
  .formContainer .left {
    width: 100%;
    flex: 1;
  }
  .formContainer .right {
    width: 100%;
    flex: 1;
  }
  .imagesContainer > div {
    flex-wrap: wrap;
  }
  .success {
    height: auto;
  }
  .successTestimonials {
    flex-wrap: wrap;
  }
  .successTestimonials > div {
    margin: 20px;
  }
  .contacts {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .success > img,
  .contactBox img {
    max-width: 300px;
  }
  .requirement .top img {
    max-width: 300px;
  }

  .imagesContainer > div:first-child > .imgContainer:nth-child(2),
  .imagesContainer > div:first-child > .imgContainer:nth-child(3) {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 500px) {
  .signIn img {
    max-width: 200px;
  }
  .email {
    width: 80vw;
  }
  .email button {
    width: 80px;
  }
  .signIn h1 {
    font-size: 34px;
  }
  .successTestimonials > div {
    margin: 10px;
  }
  .contacts {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .line {
    /* display: none!important; */

    width: 220px;
    height: 4px;
    border-radius: 2px;
  }
  .success > img,
  .contactBox img {
    max-width: 200px;
  }
  .requirement .top img {
    max-width: 200px;
  }

  .imagesContainer > div:first-child > .imgContainer:nth-child(2),
  .imagesContainer > div:first-child > .imgContainer:nth-child(3) {
    transform: translateY(0px);
  }
}
