.container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
}
.main {
  display: flex;
}
.hero {
  padding: 3vw;
}
.hero img {
  max-width: 600px;
}
.formContainer {
  flex: 3;
  background-color: #ffffff;
  margin: 20px;
}
.formHeader {
  width: 100%;
  height: 50px;
  background-color: var(--footer);
  display: flex;
  align-items: center;
  justify-content: center;
}
.formHeader h3 {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.inputGroup {
  padding: 30px 5vw;
}
.multiInput{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.multiInput textarea{
  flex-grow: 1;
  margin: 20px;
  border-radius: 20px;
  height: 180px;
  min-width: 250px;
  padding: 10px;
  outline: none;

  border: none;
  font-size: 16px;
  background-color: #eaf0ff;
  resize: none;
}
.multiInput > *{
  flex: 1;
}
.productImagePicker  div {

  width: 200px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
   background-color: #eaf0ff;
   margin: 15px;

}
.productImagePicker input{
  display: none;
}
.checkboxContainer {
  padding: 2vw 5vw;
  font-size: 13px;
  letter-spacing: 0.7px;
}
.checkboxContainer input {
  margin: 10px;
}
.rfq {
  flex: 1;
  background-color: #ffffff;
  margin: 20px;
  padding: 40px;
  border-radius: 30px;
}
.checks > div {
  padding: 5px;
  font-size: 18px;
  margin-bottom: 5px;
}
.submitButton {
  padding: 10px 20px;
  background-color: var(--footer);
  color: white;
  font-size: 18px;
  outline: none;
  border-radius: 15px;
  border: none;
  margin: 20px auto;
  cursor: pointer;
  height: 60px;
  min-width: 250px;
}
.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
.activeCheck{
  color: var(--primary);
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }
  .hero img {
    max-width: 400px;
  }
  .checks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .checks > div {
    max-width: 40vw;
    min-width: 30vw;
  }
}

@media screen and (max-width: 450px) {
  .hero img {
    max-width: 300px;
  }
  .hero h1 {
    font-size: 24px;
  }
  .inputGroup {
    padding: 15px;
  }
  .formHeader h3{
    font-size: 20px;
  }
  .checks > div{
    font-size: 16px;
  }
}
